<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groupproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DeleteCustomerAccountActivity"></activity>
        <activity android:name=".DeleteOwnerAccountActivity" />
        <activity android:name=".ChangeCustomerPasswordActivity" />
        <activity android:name=".ManageCustomerAccountActivity" />
        <activity android:name=".ChangeOwnerPasswordActivity" />
        <activity android:name=".ManageOwnerAccountActivity" />
        <activity android:name=".SettingsMenu"></activity>
        <activity android:name=".AddAppointmentActivity" />
        <activity android:name=".CreditActivity" />
        <activity android:name=".CustomerMainMenuActivity" />
        <activity android:name=".OwnerMainMenuActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>